body {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
  margin: 0;
  padding-left: 1em;
  padding-top: 1em;
  font-weight: bold;
  color: navy;
}

section {
  padding: .5em;
  margin-bottom: 1em;
}

th {
  text-align: left;
}

#bookList {
  display: inline-block;
  margin-bottom: 1em;
}

#authorSortBtn {
  display: inline-block;
  margin-left: 1em;
}

#titleSortBtn {
  display: inline-block;
  margin-left: 1em;
}

#submitBtn {
  margin-top: 1em;
  display: inline-block;
}

#bookTop {
  background-image: url('book_banner.jpg');
  background-size: cover;
}

#bookTopText {
  margin-left: 2em;
  padding: 2em 0;
  margin-top: 0;
}

#tableZone {
  margin: 2em 3em;
}

#pageTitle {
  margin-left: 2em;
}

#cancelBtn {
  display: inline-block;
}